.button {
    display: flex;
    justify-content: center;
    align-items: center;
    border: none;
    outline: none;
    border-radius: 5px;
    color: #fff;
    background-color: #457df5;
    
    &:hover {
        cursor: pointer;
        background-color: #5d8ef7;
    }

    &--save {
        background-color: #4ADE80;
        &:hover {
            background-color: #86EFAC;
        }
    }

    &--close {
        background-color: #F87171;
        &:hover {
            background-color: #FCA5A5;
        }
    }

    &--large {
        min-width: 80px;
        font-size: 16px;
        line-height: 16px;
        padding: 10px;
    }

    &--small {
        min-width: 60px;
        font-size: 14px;
        line-height: 14px;
        padding: 5px;
    }

    &:disabled {
        background-color: rgb(163, 163, 163);
    }
}