.message-reply {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;
    min-width: 0;
    overflow: hidden;

    padding: 10px;
    border-radius: 5px 5px 0 0;
    background-color: #fff;

    &__message {
        overflow: hidden;
        border-left: 2px solid #d1d1d1;
        padding-left: 5px;
    }

    &__name {
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    &__text {
        font-size: 14px;
        line-height: 14px;
        white-space: nowrap;
        overflow: hidden;
        text-overflow: ellipsis;
    }

    button {
        flex-shrink: 0;
    }

    &--message {
        padding: 5px 0 5px 0;
        color: #d1d1d1;
    }

    &:hover {
        cursor: pointer;
        background-color: #f7f7f7;
    }
}