@import '../../styles/mixins.scss';
@import '../../styles//variables.scss';

.chat-panel {
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    padding: 10px 10px 10px 0;
    width: 100%;
    min-width: 0;
    gap: 10px;

    &__scrollable {
        overflow: hidden;
        position: relative;
        flex-grow: 1;
        border-radius: 5px;
    }

    &__container {
        position: relative;
        display: flex;
        flex-direction: column;
        height: 100%;
        padding: 10px;
        background-color: #fff;
        border-radius: 5px;
        background-image: url('../../assets/bg-pattern.png');

        @include inner-shadow;
    }

    &__messages {
        display: flex;
        flex-direction: column;
        margin-top: auto;
    }

    @media screen and (max-width: $mobile) {
        padding: 0px 10px 10px 10px;
        height: 0;
        flex-grow: 1;
    }
}