@import '../../styles/mixins.scss';

.message-item {
    display: flex;
    gap: 10px;

    margin-bottom: 15px;

    &:nth-last-child(2) {
        margin-bottom: 0;
    }

    &:last-child {
        margin: 0;
    }

    &__avatar {
        position: sticky;
        bottom: 0;
        flex-shrink: 0;
        width: 40px;
        height: 40px;
        align-self: flex-end;
    }

    &__body {
        display: flex;
        flex-direction: column;
        gap: 5px;
        padding: 15px;
        max-width: 100%;
        min-width: 300px;
        word-break: break-all;
        background-color: #fff;
        border-radius: 5px;

        @include outer-shadow;
    }

    &__name {
        font-size: 16px;
        font-weight: bold;
    }

    &__text {
        padding: 5px 0;
        margin: 0;
    }

    &__controls {
        display: flex;
        align-items: center;
    }

    &__time {
        position: relative;
        top: 1px;
        font-size: 14px;
        line-height: 14px;
        margin-left: auto;
        color: #D4D4D8;
    }

    &--me {
        flex-direction: row-reverse;
    }

    &--notify {
        justify-content: center;
        padding: 10px;
        background: #fff;
        align-self: center;
        border-radius: 5px;
        max-width: 400px;
        text-align: center;

        @include outer-shadow;
    }
}